<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel users masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$user_id_class}">{$label users user_id}</th>
			<th class="{$username_class}">{$label users username}</th>
			<th class="{$password_class}">{$label users password}</th>
			<th class="{$email_class}">{$label users email}</th>
			<th class="{$nama_lengkap_class}">{$label users nama_lengkap}</th>
			<th class="{$alamat_class}">{$label users alamat}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$user_id_class}">{$user_id_mastervalue}</td>
			<td class="{$username_class}">{$username_mastervalue}</td>
			<td class="{$password_class}">{$password_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
			<td class="{$nama_lengkap_class}">{$nama_lengkap_mastervalue}</td>
			<td class="{$alamat_class}">{$alamat_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>